.App {
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin: auto;
  padding: 40px 0px;
}
.form-side{
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 28%;
  height: 100%;
  padding: 10px 15px;
}
.form h1{
  font-weight: 400;
  margin-top: 0%;
  margin-bottom: 20px;
  font-size: 28px;
}
.form form input{
  width: 100%;
  height: 35px;
  margin-bottom: 15px;
  padding: 0px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.form form input:focus{
  border: none;
  outline: 2px solid rgb(4, 62, 109);
}
.form form button{
  font-size: 14px;
  padding: 10px 0px;
  letter-spacing: 1px;
}
.content-side{
  margin-bottom: 20px;
  width: 70%;
}
.content-side .product-list .product{
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 15px;
  border-radius: 5px;
}
.content-side .product-list .product .product-image{
  width: 300px;
  overflow: hidden;
}
.content-side .product-list .product-image img{
  width: 100%;
  object-fit: cover;
}
.content-side .product-list .product-content{
  margin-left: 25px;
  width: 100%;
}
.content-side .product-list .product .title{
  font-size: 26px;
  font-weight: 400;
}
.content-side .product-list .product .category{
  font-size: 22px;
  font-weight: 400;
}
.content-side .product-list .product .price{
  font-size: 22px;
  font-weight: 400;
}
.content-side .product-list .product button{
  font-size: 14px;
  letter-spacing: 1px;
}
.content-side .product-list .product-content .cart-box .cart-buttons{
  width: 51.5%;
  display: flex;
  justify-content: space-evenly;
}
.content-side .product-list .add-cart-btn{
  width: 100%;
}
.content-side .product-list .product-content .cart-box .Decrease-quantity,
.content-side .product-list .product-content .cart-box .Increase-quantity,
.content-side .product-list .product-content .cart-box .quantity{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  font-size: 20px;
  border: 1px solid #ccc;
}
.content-side .product-list .product-content .cart-box .Decrease-quantity,
.content-side .product-list .product-content .cart-box .Increase-quantity{
  border-radius: 50%;
  padding-bottom: 5px;
}
.content-side .product-list .product-content .cart-box .quantity{
  width: 70px;
  border-radius: 25px;
}